/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', serif;
    overflow-x: hidden;
}

/* Promotional Banner */
.promo-banner {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 8px 20px;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}


.promo-banner-content {
    display: flex;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
}

.promo-text {
    padding-right: 50px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.hero {
    height: 100vh;
    background-image: url(https://akkeknitwear.com/website/wp-content/uploads/2023/10/bannerhome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

header {
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 0.15em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 3rem;


}

.logo img {
    height: 10vh;
    /* background-color: white; */

}

.logo {
    filter: brightness(0) invert(1);
}

.main-nav ul {
    /* height: ;20vh */
    display: flex;
    gap: 10px;
    list-style: none;
}

.main-nav li a {
    text-decoration: none;
    color: white;
    font-size: 30px;

}

#akkeworld {
    color: #FD7453;
}

.right-nav {
    display: flex;
    justify-content: space-around;
    font-size: 30px;

}

.right-nav ul {
    display: flex;
    /* gap: 10px; */
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.right-nav li a {
    color: white;
    display: flex;
    font-weight: bold;
    text-decoration: none;
}

